.nav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 16px 40px;
}

.nav a {
    padding: 8px 16px;
    background-color: #f4ce14;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

